*{
    margin:0;
        podding:0;
}
.cabecalho{
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-arround;
    align-itens: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width:20%
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16xp;
    font-size: 24px;
}
